.border{
    border:2px solid red;
}



body{
    margin:0px;
    overflow-x:hidden ;
    /* background: linear-gradient(to bottom, #282c2c, #e790bf); */
    background-color: black;

    

}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
}

.boxcontent{
    width:70vw;
    margin:auto;
    border-radius: 5px;
    display:block;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgb(225, 114, 132);
    color:white;
    

}

.btn{
    padding:5px;
    width:80px;
    margin:10px;
    border:none;
    box-shadow: 0px 0px 7px 4px rgb(225, 114, 132);
    border-radius: 5px;
    background-color: black;
    color:white;
    cursor:pointer;

}


.maincontent{
    display:none;
}

.box1{
    height:1500px;
    width:350px;
    margin:auto;
    position: relative;
    background: linear-gradient(to bottom, #282c2c, #e790bf);
    perspective: 1000px; /* 3D effect */
    /* display:none; */
    opacity: 1;

    
}

.hand{
    /* width: 40vw;  Responsive width */
    width: 80%;  
    
}

.hand1{
    position: absolute;
    top:20%;
    right:0%;
    z-index: 2;

}

.hand2{
    position: absolute;
    bottom:20%;
    left:0%;
    z-index: 2;

}

.flower{
    position: absolute;
    width: 70%;
    
    top: 0%;
    right: 76%;
    
    transform: translate(73%, 50%) rotate(0deg);
    
    transition: all 3s ease;
    z-index: 1;
    

}

.extra{
    width:70vw;
    margin:auto;
    border-radius: 5px;
    display:none;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgb(225, 114, 132);
    color:white;
    
}

.msg{
    width:70vw;
    margin:auto;
    border-radius: 5px;
    display:none;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgb(225, 114, 132);
    color:white;

}







